{{ define "content" }}
<div class="row" id="createForm" >
	<div class="col-12">		
		{{ template "personform" .}}
	</div>
</div>

<script type="text/javascript">
var startperson = {
	"PersonID": {{.person.PersonID}},
	"Name" : {{.person.Name}},
	"Description" : {{.person.Description}},
	"Gender" : {{.person.Gender}},
	"VisuellidentifierID" : {{.person.VisuellidentifierID}}
}
</script>

<script src="/static/dist/personcreate.js"></script>
{{end}}
