{{ define "content" }}

<div class = "row" id="personDetail">

	<div class="col">
		<div class="row my-3" id="detailView" v-cloak>
			<div class="col-12">
				<div class="row ">
					<div class="col-12 col-sm-10">
						<div class="media">
							<img class="d-flex mr-3" :src="'/static/img/vi/'+person.VisuellidentifierID+'.svg'" style="width:64px; max-height:64px" v-if="person.VisuellidentifierID">
							<div class="media-body">
								<h5 class="mt-0">${person.Name}</h5>
								${person.Description}
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-2 text-right">
						<button type="button" v-on:click="askdel" class="btn btn-secondary btn-sm btn-block">Löschen</button>
						<button type="button" v-on:click="toggle" class="btn btn-secondary btn-sm btn-block">Bearbeiten</button>
					</div>
				</div>
			</div>
		</div>

		<div class="row" v-if="formvisible">
			<div class="col-12">		
				{{ template "personform" .}}
			</div>
		</div>
		
		<hr>

		<div class="row">
			<div class="col">
				<h3>Vater</h3>
				<multiselect v-model="father" :options="persons" placeholder="Wähle den Vater" label="Name" track-by="PersonID" @remove="removefather" @select="connectfather"></multiselect>
				<ul class="list-unstyled mt-4">
					<li class="media" v-if="father">
						<img class="d-flex mr-3" :src="'/static/img/vi/'+father.VisuellidentifierID+'.svg'" style="width:64px; max-height:64px" v-if="father.VisuellidentifierID">
						<div class="media-body">
							<h5 class="mt-0"><a :href="'/person/'+father.PersonID" target="_blank">${father.Name}</a></h5>
							${father.Description}
						</div>
					</li>
				</ul>
			</div>
			<div class="col">
				<h3>Mutter</h3>
				<multiselect v-model="mother" :options="persons" placeholder="Wähle die Mutter" label="Name" track-by="PersonID" @remove="removemother" @select="connectmother"></multiselect>
				<ul class="list-unstyled mt-4">
					<li class="media" v-if="mother">
						<img class="d-flex mr-3" :src="'/static/img/vi/'+mother.VisuellidentifierID+'.svg'" style="width:64px; max-height:64px" v-if="mother.VisuellidentifierID">
						<div class="media-body">
							<h5 class="mt-0"><a :href="'/person/'+mother.PersonID" target="_blank">${mother.Name}</a></h5>
							${mother.Description}
						</div>
					</li>
				</ul>
			</div>
		</div>

		<hr>

		<h2>Nennungen</h2>
		<div id="words" class="row">
			<word url="/api/person/word" deleteurl="/api/person/word/delete" entityid="{{.person.PersonID}}"></word>
		</div>
	</div>
</div>

<script type="text/javascript">
var startperson = {
	"PersonID": {{.person.PersonID}},
	"Name" : {{.person.Name}},
	"Description" : {{.person.Description}},
	"Gender" : {{.person.Gender}},
	"VisuellidentifierID" : {{.person.VisuellidentifierID}}
}
</script>

<script src="/static/dist/persondetail.js"></script>
{{end}}
