{{ define "personform" }}
<form class="p-2" style="background-color:#f7f7f7" @keyup.esc="cancel" @keyup.enter="save" v-on:submit.prevent="onSubmit">
	<div class="form-group">
		<label for="Name">Name</label>
		<input type="text" class="form-control" id="Name" aria-describedby="NameHelp" v-model="person.Name" ref="name">
		<small id="NameHelp" class="form-text text-muted">Der Name der Person. Er muss ein eindeutig sein.</small>
	</div>

	<div class="form-group">
		<label for="Description">Beschreibung</label>
		<textarea class="form-control" id="Description" rows="3" aria-describedby="DescriptionHelp" v-model="person.Description"></textarea>
		<small id="DescriptionHelp" class="form-text text-muted">Eine kurze Beschreibung der Person.</small>
	</div>

	<div class="form-group">
		<label for="Gender">Geschlecht</label>
		<select class="form-control" id="Gender" aria-describedby="GenderHelp" v-model="person.Gender">
			<option value=""></option>
			<option value="männlich">männlich</option>
			<option value="weiblich">weiblich</option>
		</select>
		<small id="GenderHelp" class="form-text text-muted">Geschlecht der Person.</small>
	</div>

	<div class="text-right">
		<button type="button" id="Cancel" class="btn btn-warning btn-sm" v-on:click="cancel">Abbrechen</button>
		<button type="button" id="Save" class="btn btn-primary btn-sm" v-on:click="save">Speichern</button>
	</div>
</form>
{{end}}
