{{ define "content" }}
<div class="row" id="createForm" >
	<div class="col-12">		
		{{ template "instrumentform" .}}
	</div>
</div>

<script type="text/javascript">
var startinstrument = {
	"InstrumentID": {{.instrument.InstrumentID}},
	"Name" : {{.instrument.Name}},
	"Description" : {{.instrument.Description}},
	"VisuellidentifierID" : {{.instrument.VisuellidentifierID}},
	"InstrumentTypeID" : {{.instrument.InstrumentTypeID}},
	"InstrumentTypeName" : {{.instrument.InstrumentTypeName}}
}
</script>

<script src="/static/dist/instrumentcreate.js"></script>
{{end}}
