{{ define "content" }}

<div class = "row" id="instrumentDetail">

	<div class="col">
		<div class="row my-3" id="detailView" v-cloak>
			<div class="col-12">
				<div class="row ">
					<div class="col-12 col-sm-10">
						<div class="media">
							<img class="d-flex mr-3" :src="'/static/img/vi/'+instrument.VisuellidentifierID+'.svg'" style="width:64px; max-height:64px" v-if="instrument.VisuellidentifierID">
							<div class="media-body">
								<h5 class="mt-0">${instrument.Name}</h5>
								${instrument.Description}<br/>
								Instrumenten Typ: ${instrument.InstrumentTypeName}
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-2 text-right">
						<button type="button" v-on:click="askdel" class="btn btn-secondary btn-sm btn-block">Löschen</button>
						<button type="button" v-on:click="toggle" class="btn btn-secondary btn-sm btn-block">Bearbeiten</button>
					</div>
				</div>
			</div>
		</div>

		<div class="row" v-if="formvisible">
			<div class="col-12">		
				{{ template "instrumentform" .}}
			</div>
		</div>
		<h2>Nennungen</h2>
		<div id="words" class="row">
			<word url="/api/instrument/word" deleteurl="/api/instrument/word/delete" entityid="{{.instrument.InstrumentID}}"></word>
		</div>
	</div>
</div>

<script type="text/javascript">
var startinstrument = {
	"InstrumentID": {{.instrument.InstrumentID}},
	"Name" : {{.instrument.Name}},
	"Description" : {{.instrument.Description}},
	"VisuellidentifierID" : {{.instrument.VisuellidentifierID}},
	"InstrumentTypeID" : {{.instrument.InstrumentTypeID}},
	"InstrumentTypeName" : {{.instrument.InstrumentTypeName}}
}
</script>

<script src="/static/dist/instrumentdetail.js"></script>
{{end}}
