{{ define "content" }}
<div class="row" id="createForm" >
	<div class="col-12">		
		{{ template "thingform" .}}
	</div>
</div>

<script type="text/javascript">
var startthing = {
	"ThingID": {{.thing.ThingID}},
	"Name" : {{.thing.Name}},
	"Description" : {{.thing.Description}},
	"VisuellidentifierID" : {{.thing.VisuellidentifierID}},
	"ThingTypeID" : {{.thing.ThingTypeID}},
	"ThingTypeName" : {{.thing.ThingTypeName}}
}
</script>

<script src="/static/dist/thingcreate.js"></script>
{{end}}
