{{ define "content" }}

<div class = "row" id="thingDetail">

	<div class="col">
		<div class="row my-3" id="detailView" v-cloak>
			<div class="col-12">
				<div class="row ">
					<div class="col-12 col-sm-10">
						<div class="media">
							<img class="d-flex mr-3" :src="'/static/img/vi/'+thing.VisuellidentifierID+'.svg'" style="width:64px; max-height:64px" v-if="thing.VisuellidentifierID">
							<div class="media-body">
								<h5 class="mt-0">${thing.Name}</h5>
								${thing.Description}<br/>
								Objekte Typ: ${thing.ThingTypeName}
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-2 text-right">
						<button type="button" v-on:click="askdel" class="btn btn-secondary btn-sm btn-block">Löschen</button>
						<button type="button" v-on:click="toggle" class="btn btn-secondary btn-sm btn-block">Bearbeiten</button>
					</div>
				</div>
			</div>
		</div>

		<div class="row" v-if="formvisible">
			<div class="col-12">		
				{{ template "thingform" .}}
			</div>
		</div>
		<h2>Nennungen</h2>
		<div id="words" class="row">
			<word url="/api/thing/word" deleteurl="/api/thing/word/delete" entityid="{{.thing.ThingID}}"></word>
		</div>
	</div>
</div>

<script type="text/javascript">
var startthing = {
	"ThingID": {{.thing.ThingID}},
	"Name" : {{.thing.Name}},
	"Description" : {{.thing.Description}},
	"VisuellidentifierID" : {{.thing.VisuellidentifierID}},
	"ThingTypeID" : {{.thing.ThingTypeID}},
	"ThingTypeName" : {{.thing.ThingTypeName}}
}
</script>

<script src="/static/dist/thingdetail.js"></script>
{{end}}
