@import '~alertifyjs/build/css/alertify.css';
@import '~toastr/build/toastr.css';

:root {
	/*green*/
	--color-turquoise: #1abc9c;
	--color-green-sea: #16a085;
	--color-emerald: #2ecc71;
	--color-nephritis: #27ae60;
	
	/*blue*/
	--color-peter-river: #3498db;
	--color-belize-hole: #2980b9;
	
	/*lila*/
	--color-amethyst: #9b59b6;
	--color-wisteria: #8e44ad;
		
	/*yellow*/
	--color-sun-flower: #f1c40f;
	
	/*orange*/
	--color-orange: #f39c12;
	--color-carrot: #e67e22;
	--color-pumpkin: #d35400;
	
	/*red*/
	--color-alizarin: #e74c3c;
	--color-pomegranate: #c0392b;
	
	/*grey*/
	--color-clouds: #ecf0f1;
	--color-silver: #bdc3c7;
	--color-concrete: #95a5a6;
	--color-asbestos: #7f8c8d;
	
	/*black*/
	--color-wet-asphalt: #34495e;
	--color-midnight-blue: #2c3e50;
}

a {
  text-decoration: none;
}

a:hover, a.active{
  text-decoration: underline;
}

.word {
	color: var(--color-asbestos);
	cursor: pointer;
}

.person {
	color: var(--color-nephritis);
	cursor: pointer;
}

.person-bg {
	background-color: var(--color-nephritis) !important;
	color: var(--color-clouds);
}

.animal {
	color: var(--color-amethyst) ;
	cursor: pointer;
}

.animal-bg {
	background-color: var(--color-amethyst) !important;
	color: var(--color-clouds);
}

.place {
	color: var(--color-pumpkin);
	cursor: pointer;
}

.place-bg {
	background-color: var(--color-pumpkin) !important;
	color: var(--color-clouds);
}

.tribe {
	color: var(--color-peter-river);
	cursor: pointer;
}

.tribe-bg {
	background-color: var(--color-peter-river) !important;
	color: var(--color-clouds);
}

.plant {
	color: var(--color-green-sea);
	cursor: pointer;
}

.plant-bg {
	background-color: var(--color-green-sea) !important;
	color: var(--color-clouds);
}


.material {
	color: var(--color-belize-hole);
	cursor: pointer;
}

.material-bg {
	background-color: var(--color-belize-hole) !important;
	color: var(--color-clouds);
}

.unit {
	color: var(--color-sun-flower);
	cursor: pointer;
}

.unit-bg {
	background-color: var(--color-sun-flower) !important;
	color: var(--color-clouds);
}

.instrument {
	color: var(--color-pomegranate);
	cursor: pointer;
}

.instrument-bg {
	background-color: var(--color-pomegranate) !important;
	color: var(--color-clouds);
}

.thing {
	color: var(	--color-midnight-blue);
	cursor: pointer;
}

.thing-bg {
	background-color: var(	--color-midnight-blue) !important;
	color: var(--color-clouds);
}
