{{ define "content" }}
<div class="row" id="createForm" >
	<div class="col-12">		
		{{ template "tribeform" .}}
	</div>
</div>

<script type="text/javascript">
var startanimal = {
	"TribeID": {{.tribe.TribeID}},
	"Name" : {{.tribe.Name}},
	"Description" : {{.tribe.Description}},
	"VisuellidentifierID" : {{.tribe.VisuellidentifierID}},
}
</script>

<script src="/static/dist/tribecreate.js"></script>
{{end}}
