{{ define "content" }}

<div class = "row" id="tribeDetail">

	<div class="col">
		<div class="row my-3" id="detailView" v-cloak>
			<div class="col-12">
				<div class="row ">
					<div class="col-12 col-sm-10">
						<div class="media">
							<img class="d-flex mr-3" :src="'/static/img/vi/'+tribe.VisuellidentifierID+'.svg'" style="width:64px; max-height:64px" v-if="tribe.VisuellidentifierID">
							<div class="media-body">
								<h5 class="mt-0">${tribe.Name}</h5>
								${tribe.Description}<br/>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-2 text-right">
						<button type="button" v-on:click="askdel" class="btn btn-secondary btn-sm btn-block">Löschen</button>
						<button type="button" v-on:click="toggle" class="btn btn-secondary btn-sm btn-block">Bearbeiten</button>
					</div>
				</div>
			</div>
		</div>

		<div class="row" v-if="formvisible">
			<div class="col-12">		
				{{ template "tribeform" .}}
			</div>
		</div>
		<h2>Nennungen</h2>
		<div id="words" class="row">
			<word url="/api/tribe/word" deleteurl="/api/tribe/word/delete" entityid="{{.tribe.TribeID}}"></word>
		</div>
	</div>
</div>

<script type="text/javascript">
var starttribe = {
	"TribeID": {{.tribe.TribeID}},
	"Name" : {{.tribe.Name}},
	"Description" : {{.tribe.Description}},
	"VisuellidentifierID" : {{.tribe.VisuellidentifierID}}
}
</script>

<script src="/static/dist/tribedetail.js"></script>
{{end}}
