{{ define "tribeform" }}
<form class="p-2" style="background-color:#f7f7f7" @keyup.esc="cancel" @keyup.enter="save" v-on:submit.prevent="onSubmit">
	<div class="form-group">
		<label for="Name">Name</label>
		<input type="text" class="form-control" id="Name" aria-describedby="NameHelp" v-model="tribe.Name" ref="name">
		<small id="NameHelp" class="form-text text-muted">Der Name des Stammes. Er muss ein eindeutig sein.</small>
	</div>

	<div class="form-group">
		<label for="Description">Beschreibung</label>
		<textarea class="form-control" id="Description" rows="3" aria-describedby="DescriptionHelp" v-model="tribe.Description"></textarea>
		<small id="DescriptionHelp" class="form-text text-muted">Eine kurze Beschreibung des Stammes.</small>
	</div>

	<div class="text-right">
		<button type="button" id="Cancel" class="btn btn-warning btn-sm" v-on:click="cancel">Abbrechen</button>
		<button type="button" id="Save" class="btn btn-primary btn-sm" v-on:click="save">Speichern</button>
	</div>
</form>
{{end}}
