<template>
	<div class="col">
		<div class="row">
			<div class="col-md-5">
				<input class="form-control search" type="text" placeholder="Suchen" v-model="search" ref="search" @keyup.esc="clearsearch">
					<abbr class="search-clear" style="visibility:hidden" v-on:click="clearsearch" ref="searchclear"></abbr>
				</input>
			</div>
			<div class="col-md-7">
				<v-select v-model="animalclass" label="Name" :options="animalclasses" placeholder="Wähle die Tierart"></v-select> 
			</div>
		</div>
		<div class="row mt-2">
			<div class="col">
			 	<a class="btn btn-secondary btn-sm" href="/animal/create">+ Tier</a>
			</div>
			<div class="col text-right">
				<h6><span class="badge badge-secondary">Showing {{displaycount}} of {{count}}</span></h6>
			</div>
		</div>
		<div class="row">
			<div class="col">
			<ul class="list-unstyled">
				<li class="media my-4" v-for="animal in filteredAnimals">
				<img class="d-flex mr-3" :src="'static/img/vi/' + animal.VisuellidentifierID+'.svg'" style="width: 64px; max-height: 64px" alt="Bibel">
					 <div class="media-body">
						 <h5 class="mt-0 mb-1"><a v-bind:href="'animal/'+animal.AnimalID">{{animal.Name}}</a></h5>
						{{animal.Description}}
					</div>
				</li>
			</ul>
			</div>
		</div>
	</div>
</template>

<script>
import * as alertify from 'alertifyjs';
import vSelect from "vue-select"

export default {
	name: 'animallist',
	components: {vSelect},
	data: function() {
		return { 
			animals: [],
			search: '',
			animalclass: null,
			count: null,
			displaycount: null,
			animalclasses: []
		}
    },
	props: ['url'],
    mounted: function() {
		this.$nextTick(() => this.$refs.search.focus())
        
		// load animals
		this.$http.get(this.url).then(response => {
			this.animals = response.body;
			this.count = response.body.length;
		}, response => {
			alertify.error(response.body.Msg);
		});
		
		// load animal clases
		this.$http.get('/api/animalclass').then(response => {
			this.animalclasses = response.body;
		}, response => {
			alertify.error(response.body.Msg);
		});
    },
    computed: {
            filteredAnimals: function(){
                let animals = this.animals.filter((animal) => {
					// no filter
					if (this.search == '' && this.animalclass == null)
						return animal;

					// only search
					if (this.search != '' && this.animalclass == null)
						return animal.Name.toLowerCase().match(this.search.toLowerCase());

					// only class
					if (this.search == '' && this.animalclass !== null){
						if (animal.ClassID !== null && animal.ClassID == this.animalclass.ClassID)
							return animal;
					}

					// search and class
					if (this.search != '' && this.animalclass !== null){
						if (animal.ClassID !== null && animal.ClassID == this.animalclass.ClassID)
							return animal.Name.toLowerCase().match(this.search.toLowerCase())
					}
				
				});
				this.displaycount = animals.length;
				return animals;
			}
    }, 
    methods: {
		clearsearch: function(){
			this.search = "";	
		}
    },
	watch: {
		search: function(val){
			if (val === ""){		
				this.$refs.searchclear.style.visibility = "hidden";
			}else{
				this.$refs.searchclear.style.visibility = "visible";
			}
		}
	}
}
</script>
