<template>
	<div class="col">
		<div class="row">
			<div class="col-md-5">
				<input class="form-control search" type="text" placeholder="Suchen" v-model="search">
					<abbr class="search-clear" style="visibility:hidden"></abbr>
				</input>
			</div>
			<div class="col-md-7">
				<v-select v-model="testament" :options="options" placeholder="Wähle das Testament"></v-select> 
			</div>
		</div>
		<div class="row mt-2">
			<div class="col">
			</div>
			<div class="col text-right">
				<h6><span class="badge badge-secondary">Showing {{displaycount}} of {{count}}</span></h6>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<ul class="list-unstyled">
					<li class="media my-4" v-for="book in filteredBooks">
						<img class="d-flex mr-3" :src="'/static/img/vi/' + book.VisuellidentifierID+'.svg'" style="width: 64px; max-height: 64px" alt="Bibel">
						<div class="media-body">
							<h5 class="mt-0 mb-1"><a v-bind:href="'/bible/book/'+book.BookID">{{book.Name}}</a></h5>
							{{book.NameLong}}
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</template>

<script>
import vSelect from "vue-select"
export default {
	name: 'books',
	components: {vSelect},
	data: function() {
		return { 
			books: [],
			search: '',
			testament: null,
			count: null,
			displaycount: null,
			options: [
				{
					label:	'Altes Testament',
					value: 'ot'
				},
				{ 
					label: 'Neues Testament',
					value: 'nt'
				}
			]
		}
    },
	props: ['url'],
    mounted: function() {
		var _this = this;
		
		$(".search").focus();

		$('.search').keydown(function(e) {
			if (e.keyCode == 27){
				$(".search").val("");
				_this.search='';
			}
		});
		
		$('.search-clear').on("click", function(){
			$(".search").val("");
			this.search='';
		});
        
		$.getJSON(_this.url, function (json) {
			_this.books = json;
			_this.count = json.length;            
		});
    },
    computed: {
            filteredBooks: function(){
                let books = this.books.filter((book) => {
					if (this.search == '' && this.testament == null ){
						$(".search-clear").css("visibility","hidden")
						return book
					}
					if (this.search != '' && this.testament == null){
						$(".search-clear").css("visibility","visible")
						return book.Name.toLowerCase().match(this.search.toLowerCase())
					}
					if (this.search != '' && this.testament !== null){
						console.log(this.testament.value);
						$(".search-clear").css("visibility","visible")
						if (book.Testament !== null) {
							if (book.Name.toLowerCase().match(this.search.toLowerCase())&& book.Testament.match(this.testament.value))
							return book
						}
					}
					if (this.search == '' && this.testament !== null){
						$(".search-clear").css("visibility","hidden")
						if (book.Testament !== null) {
							return book.Testament.match(this.testament.value)
						}
					}

				});
				this.displaycount = books.length;
				return books;
			}
    }, 
    methods: {
    },
}
</script>
