<template>
	<div class="col">
		<div class="row">
			<div class="col-12">
				<input class="form-control search" type="text" placeholder="Suchen" v-model="search">
				<abbr class="search-clear" style="visibility:hidden"></abbr>
				</input>
			</div>
		</div>
		<div class="row mt-2">
			<div class="col">
			</div>
			<div class="col text-right">
				<h6><span class="badge badge-secondary">Showing {{displaycount}} of {{count}}</span></h6>
			</div>
		</div>
		<div class="row">
			<div class="col">
			<ul class="list-unstyled">
				<li class="media my-4" v-for="collection in filteredCollections">
				<img class="d-flex mr-3" :src="'/static/img/vi/' + collection.VisuellidentifierID+'.svg'" style="width: 64px; max-height: 64px" alt="Collection">
					 <div class="media-body">
						 <h5 class="mt-0 mb-1"><a v-bind:href="'/bible/collection/'+collection.CollectionID">{{collection.Name}}</a></h5>
						 {{collection.NameLong}}
					</div>
				</li>
			</ul>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'collections',
	data: function() {
		return { 
			collections: [],
			search: '',
			count: null,
			displaycount: null,
		}
    },
    mounted: function() {
		var _this = this;

		$(".search").focus();

		$('.search').keydown(function(e) {
			if (e.keyCode == 27){
				$(".search").val("");
				_this.search='';
			}
		});

        $.getJSON('/api/collection', function (json) {
            _this.collections = json;
			_this.count = json.length;            
		});
    },
    computed: {
		filteredCollections: function(){
			let collections = this.collections.filter((collection) => {
				if (this.search == ''){
					$(".search-clear").css("visibility","hidden")
					return collection
				}
				if (this.search != ''){
					$(".search-clear").css("visibility","visible")
					return collection.Name.toLowerCase().match(this.search.toLowerCase())
				}
			});
			this.displaycount = collections.length;
			return collections;
			}
    }, 
    methods: {
    },
};
</script>
