<template>
	<div class="col">
		<div class="row">
			<div class="col-md-5">
				<input class="form-control search" type="text" placeholder="Suchen" v-model="search" ref="search" @keyup.esc="clearsearch">
					<abbr class="search-clear" style="visibility:hidden" v-on:click="clearsearch" ref="searchclear"></abbr>
				</input>
			</div>
			<div class="col-md-7">
				<v-select v-model="instrumenttype" label="Name" :options="instrumenttypes" placeholder="Wähle den Instrumententyp"></v-select> 
			</div>
		</div>
		<div class="row mt-2">
			<div class="col">
			 	<a class="btn btn-secondary btn-sm" href="/instrument/create">+ Instrument</a>
			</div>
			<div class="col text-right">
				<h6><span class="badge badge-secondary">Showing {{displaycount}} of {{count}}</span></h6>
			</div>
		</div>
		<div class="row">
			<div class="col">
			<ul class="list-unstyled">
				<li class="media my-4" v-for="instrument in filteredInstruments">
				<img class="d-flex mr-3" :src="'static/img/vi/' + instrument.VisuellidentifierID+'.svg'" style="width: 64px; max-height: 64px" alt="Pflanzen Bild">
					 <div class="media-body">
						 <h5 class="mt-0 mb-1"><a v-bind:href="'instrument/'+instrument.InstrumentID">{{instrument.Name}}</a></h5>
						{{instrument.Description}}
					</div>
				</li>
			</ul>
			</div>
		</div>
	</div>
</template>

<script>
import * as alertify from 'alertifyjs';
import vSelect from "vue-select"

export default {
	name: 'instrumentlist',
	components: {vSelect},
	data: function() {
		return { 
			instruments: [],
			instrumenttype: null,
			instrumenttypes: [],
			search: '',
			count: null,
			displaycount: null,
		}
    },
	props: ['url'],
    mounted: function() {
		this.$nextTick(() => this.$refs.search.focus())
        
		// load instruments
		this.$http.get(this.url).then(response => {
			this.instruments = response.body;
			this.count = response.body.length;
		}, response => {
			alertify.error(response.body.Msg);
		});
		
		// load instrument types
		this.$http.get('/api/instrumenttype').then(response => {
			this.instrumenttypes = response.body;
		}, response => {
			alertify.error(response.body.Msg);
		});
    },
    computed: {
            filteredInstruments: function(){
                let instruments = this.instruments.filter((instrument) => {
					// no filter
					if (this.search == '' && this.instrumenttype == null)
						return instrument;

					// only search
					if (this.search != '' && this.instrumenttype == null)
						return instrument.Name.toLowerCase().match(this.search.toLowerCase());

					// only instrumenttype
					if (this.search == '' && this.instrumenttype !== null){
						if (instrument.InstrumentTypeID !== null && instrument.InstrumentTypeID == this.instrumenttype.InstrumentTypeID)
							return instrument;
					}

					// search and class
					if (this.search != '' && this.instrumenttype !== null){
						if (instrument.InstrumentTypeID !== null && instrument.InstrumentTypeID == this.instrumenttype.InstrumentTypeID)
							return instrument.Name.toLowerCase().match(this.search.toLowerCase())
					}
				
				});
				this.displaycount = instruments.length;
				return instruments;
			}
    }, 
    methods: {
		clearsearch: function(){
			this.search = "";	
		}
    },
	watch: {
		search: function(val){
			if (val === ""){		
				this.$refs.searchclear.style.visibility = "hidden";
			}else{
				this.$refs.searchclear.style.visibility = "visible";
			}
		}
	}
}
</script>
