<template>
	<div class="col">
		<div class="row">
			<div class="col-md-5">
				<input class="form-control search" type="text" placeholder="Suchen" v-model="search" ref="search" @keyup.esc="clearsearch">
					<abbr class="search-clear" style="visibility:hidden" v-on:click="clearsearch" ref="searchclear"></abbr>
				</input>
			</div>
			<div class="col-md-7">
				<v-select v-model="materialtype" label="Name" :options="materialtypes" placeholder="Wähle den Materialtyp"></v-select> 
			</div>
		</div>
		<div class="row mt-2">
			<div class="col">
			 	<a class="btn btn-secondary btn-sm" href="/material/create">+ Material</a>
			</div>
			<div class="col text-right">
				<h6><span class="badge badge-secondary">Showing {{displaycount}} of {{count}}</span></h6>
			</div>
		</div>
		<div class="row">
			<div class="col">
			<ul class="list-unstyled">
				<li class="media my-4" v-for="material in filteredMaterials">
				<img class="d-flex mr-3" :src="'static/img/vi/' + material.VisuellidentifierID+'.svg'" style="width: 64px; max-height: 64px" alt="Material Bild">
					 <div class="media-body">
						 <h5 class="mt-0 mb-1"><a v-bind:href="'material/'+material.MaterialID">{{material.Name}}</a></h5>
						{{material.Description}}
					</div>
				</li>
			</ul>
			</div>
		</div>
	</div>
</template>

<script>
import * as alertify from 'alertifyjs';
import vSelect from "vue-select"

export default {
	name: 'materiallist',
	components: {vSelect},
	data: function() {
		return { 
			materials: [],
			materialtype: null,
			materialtypes: [],
			search: '',
			count: null,
			displaycount: null,
		}
    },
	props: ['url'],
    mounted: function() {
		this.$nextTick(() => this.$refs.search.focus())
        
		// load materials
		this.$http.get(this.url).then(response => {
			this.materials = response.body;
			this.count = response.body.length;
		}, response => {
			alertify.error(response.body.Msg);
		});
		
		// load material types
		this.$http.get('/api/materialtype').then(response => {
			this.materialtypes = response.body;
		}, response => {
			alertify.error(response.body.Msg);
		});
    },
    computed: {
            filteredMaterials: function(){
                let materials = this.materials.filter((material) => {
					// no filter
					if (this.search == '' && this.materialtype == null)
						return material;

					// only search
					if (this.search != '' && this.materialtype == null)
						return material.Name.toLowerCase().match(this.search.toLowerCase());

					// only materialtype
					if (this.search == '' && this.materialtype !== null){
						if (material.MaterialTypeID !== null && material.MaterialTypeID == this.materialtype.MaterialTypeID)
							return material;
					}

					// search and class
					if (this.search != '' && this.materialtype !== null){
						if (material.MaterialTypeID !== null && material.MaterialTypeID == this.materialtype.MaterialTypeID)
							return material.Name.toLowerCase().match(this.search.toLowerCase())
					}
				
				});
				this.displaycount = materials.length;
				return materials;
			}
    }, 
    methods: {
		clearsearch: function(){
			this.search = "";	
		}
    },
	watch: {
		search: function(val){
			if (val === ""){		
				this.$refs.searchclear.style.visibility = "hidden";
			}else{
				this.$refs.searchclear.style.visibility = "visible";
			}
		}
	}
}
</script>
