<template>
<div class="dropdown">
	<button 
		class="btn btn-sm dropdown-toggle person-bg" 
		type="button" 
		id="PersonButton"
		data-toggle="dropdown" 
		aria-haspopup="true" 
		aria-expanded="false">
	Person
	</button>

	<div class="dropdown-menu" aria-labelledby="PersonButton">
		<h6 class="dropdown-header">Wähle eine Person</h6>
		
		<input 
			class="form-control search" 
			type="text" 
			placeholder="Suchen" 
			v-model="search" 
			ref="search" 
			@keydown.down="jumptoelement" 
			@keydown.esc="clearsearch">
		</input>
		
		<div class="dropdown-divider"></div>
		
		<a 
			v-for="people in filteredPeoples" 
			class="dropdown-item" 
			href="#" 
			v-on:click="connect(people)" 
			@keydown.esc="focussearch" 
			ref="option" 
			tabindex="0">
			{{people.Name}}
		</a>
		
		<div class="dropdown-divider"></div>
	
		<h6 class="dropdown-header">{{displaycount}} von {{count}} gefunden</h6>

		<div class="dropdown-divider"></div>
	
		<a 
			class="dropdown-item" 
			href="/person/create" 
			target="_blank">
			Neue Person anlegen
		</a>
	</div>
</div>
</template>

<script>
import * as alertify from 'alertifyjs';

export default {
	name:'peopleselect',
	data: function() {
		return {
			search : '',
			count : 0,
			displaycount: 0
		}
	},
	props:['peoples', 'snippet'],
	mounted: function () {
		let _this = this;
		$(_this.$el).on('show.bs.dropdown', function () {
			_this.$nextTick(() => _this.$refs.search.focus());
		});
		this.count = this.peoples.length;
	},
	computed: {
        filteredPeoples: function(){
			let peoples = this.peoples.filter((people) => {
				if (this.search == ''){
					return people
				}
				if (this.search != ''){
					return people.Name.toLowerCase().match(this.search.toLowerCase())
				}
			});
			this.displaycount = peoples.length;
			return peoples.slice(0,10);
		}
    }, 
	methods: {
		connect(people){
			let _this = this;
			let payload = {
				'PersonID': people.PersonID,
				'WordID': this.snippet.WordID
			};

			this.$http.post('/api/person/word/insert', payload).then (response => {
				this.clearsearch();
				alertify.success(response.body.Msg);
				this.$emit('remove')
			}, response => {
				alertify.error(response.body.Msg)
			});
		},
		jumptoelement() {
			this.$nextTick(() => {
				this.$refs.option[0].focus();
			});	
		},
		focussearch() {
			console.log("search");
			this.$nextTick(() => {
				this.$refs.search.focus();
			});	
		},
		clearsearch() {
			this.search="";
		}
    }
}
</script>

<style>
.dropdown {
	margin-top:0.5rem;
	margin-right:0.5rem;
	float:left;
}

.dropdown-menu input.search {
	margin-left:1.0rem;
	margin-right:1.0rem;
	width:auto;
}
</style>

