<template>
	<div class="col">
		<div class="row">
			<div class="col-md-5">
				<input class="form-control search" type="text" placeholder="Suchen" v-model="search" ref="search" @keyup.esc="clearsearch">
					<abbr class="search-clear" style="visibility:hidden" v-on:click="clearsearch" ref="searchclear"></abbr>
				</input>
			</div>
			<div class="col-md-7">
				<v-select v-model="gender" :options="options" placeholder="Wähle das Geschlecht"></v-select> 
			</div>
		</div>
		<div class="row mt-2">
			<div class="col">
			 	<a class="btn btn-secondary btn-sm" href="/person/create">+ Person</a>
			</div>
			<div class="col text-right">
				<h6><span class="badge badge-secondary">Showing {{displaycount}} of {{count}}</span></h6>
			</div>
		</div>
		<div class="row">
			<div class="col">
			<ul class="list-unstyled">
				<li class="media my-4" v-for="person in filteredPersons">
				<img class="d-flex mr-3" :src="'static/img/vi/' + person.VisuellidentifierID+'.svg'" style="width: 64px; max-height: 64px" alt="Bibel">
					 <div class="media-body">
						 <h5 class="mt-0 mb-1"><a v-bind:href="'person/'+person.PersonID">{{person.Name}}</a></h5>
						{{person.Description}}
					</div>
				</li>
			</ul>
			</div>
		</div>
	</div>
</template>

<script>
import * as alertify from 'alertifyjs';
import vSelect from "vue-select"

export default {
	name: 'personlist',
	components: {vSelect},
	data: function() {
		return { 
			persons: [],
			search: '',
			gender: null,
			count: null,
			displaycount: null,
			options: [
				{
					label: 'Männlich',
					value: 'männlich'
				},
				{ 
					label: 'Weiblich',
					value: 'weiblich'
				},
				{
					label: 'Ohne',
					value: 'ohne'
				}
			]
		}
    },
	props: ['url'],
    mounted: function() {
		this.$nextTick(() => this.$refs.search.focus())
        
		// load persons
		this.$http.get(this.url).then(response => {
			this.persons = response.body;
			this.count = response.body.length;
		}, response => {
			alertify.error(response.body.Msg);
		});
    },
    computed: {
            filteredPersons: function(){
                let persons = this.persons.filter((person) => {
					// no filter
					if (this.search == '' && this.gender == null)
						return person;

					// only search
					if (this.search != '' && this.gender == null)
						return person.Name.toLowerCase().match(this.search.toLowerCase());

					// only gender
					if (this.search == '' && this.gender !== null){
						if (this.gender.value === 'ohne' && person.Gender === null)
							return person;
						if (person.Gender !== null)
							return person.Gender.match(this.gender.value);
					}

					// search and gender
					if (this.search != '' && this.gender !== null){
						if (this.gender.value === 'ohne' && person.Gender === null)
							return person.Name.toLowerCase().match(this.search.toLowerCase()); 
						if (person.Gender !== null)
							return (person.Name.toLowerCase().match(this.search.toLowerCase()) && person.Gender.match(this.gender.value))
					}
				
				});
				this.displaycount = persons.length;
				return persons;
			}
    }, 
    methods: {
		clearsearch: function(){
			this.search = "";	
		}
    },
	watch: {
		search: function(val){
			if (val === ""){		
				this.$refs.searchclear.style.visibility = "hidden";
			}else{
				this.$refs.searchclear.style.visibility = "visible";
			}
		}
	}
}
</script>
