<template>
	<div class="col">
		<div class="row">
			<div class="col-md-5">
				<input class="form-control search" type="text" placeholder="Suchen" v-model="search" ref="search" @keyup.esc="clearsearch">
					<abbr class="search-clear" style="visibility:hidden" v-on:click="clearsearch" ref="searchclear"></abbr>
				</input>
			</div>
			<div class="col-md-7">
				<v-select v-model="placetype" label="Name" :options="placetypes" placeholder="Wähle den Ortstyp"></v-select> 
			</div>
		</div>
		<div class="row mt-2">
			<div class="col">
			 	<a class="btn btn-secondary btn-sm" href="/place/create">+ Ort</a>
			</div>
			<div class="col text-right">
				<h6><span class="badge badge-secondary">Showing {{displaycount}} of {{count}}</span></h6>
			</div>
		</div>
		<div class="row">
			<div class="col">
			<ul class="list-unstyled">
				<li class="media my-4" v-for="place in filteredPlaces">
				<img class="d-flex mr-3" :src="'static/img/vi/' + place.VisuellidentifierID+'.svg'" style="width: 64px; max-height: 64px" alt="Ortsbild">
					 <div class="media-body">
						 <h5 class="mt-0 mb-1"><a v-bind:href="'place/'+place.PlaceID">{{place.Name}} ({{place.PlaceTypeName}})</a>
						<a class="btn btn-link btn-sm" :href="'https://maps.google.com?q='+place.Lat+','+place.Lon+'&t=k'" target="_blank" v-if="place.Lat"><img style="height:16px;" src="/static/img/map-marker.png"/></a>
						 </h5>
						{{place.Description}}
					</div>
				</li>
			</ul>
			</div>
		</div>
	</div>
</template>

<script>
import * as alertify from 'alertifyjs';
import vSelect from "vue-select"

export default {
	name: 'placelist',
	components: {vSelect},
	data: function() {
		return { 
			places: [],
			search: '',
			placetype: null,
			count: null,
			displaycount: null,
			placetypes: []
		}
    },
	props: ['url'],
    mounted: function() {
		this.$nextTick(() => this.$refs.search.focus())
        
		// load places
		this.$http.get(this.url).then(response => {
			this.places = response.body;
			this.count = response.body.length;
		}, response => {
			alertify.error(response.body.Msg);
		});
		
		// load place types
		this.$http.get('/api/placetype').then(response => {
			this.placetypes = response.body;
		}, response => {
			alertify.error(response.body.Msg);
		});
    },
    computed: {
            filteredPlaces: function(){
                let places = this.places.filter((place) => {
					// no filter
					if (this.search == '' && this.placetype == null)
						return place;

					// only search
					if (this.search != '' && this.placetype == null)
						return place.Name.toLowerCase().match(this.search.toLowerCase());

					// only placetype
					if (this.search == '' && this.placetype !== null){
						if (place.PlaceTypeID !== null && place.PlaceTypeID == this.placetype.PlaceTypeID)
							return place;
					}

					// search and placetype
					if (this.search != '' && this.placetype !== null){
						if (place.PlaceTypeID !== null && place.PlaceTypeID == this.placetype.PlaceTypeID)
							return place.Name.toLowerCase().match(this.search.toLowerCase())
					}
				
				});
				this.displaycount = places.length;
				return places;
			}
    }, 
    methods: {
		clearsearch: function(){
			this.search = "";	
		}
    },
	watch: {
		search: function(val){
			if (val === ""){		
				this.$refs.searchclear.style.visibility = "hidden";
			}else{
				this.$refs.searchclear.style.visibility = "visible";
			}
		}
	}
}
</script>
