<template>
<div class="dropdown">
	<button 
		class="btn btn-sm dropdown-toggle plant-bg" 
		type="button" 
		id="dropdownMenuButton" 
		data-toggle="dropdown" 
		aria-haspopup="true" 
		aria-expanded="false">
	Pflanze
	</button>

	<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		<h6 class="dropdown-header">Wähle eine Pflanze</h6>
		
		<input 
			class="form-control search" 
			type="text" 
			placeholder="Suchen" 
			v-model="search" 
			ref="search" 
			@keydown.down="jumptoelement" 
			@keydown.esc="clearsearch">
		</input>
		
		<div class="dropdown-divider"></div>
		
		<a 
			v-for="plant in filteredPlants" 
			class="dropdown-item" 
			href="#" 
			v-on:click="connect(plant)" 
			@keydown.esc="focussearch" 
			ref="option" 
			tabindex="0">
			{{plant.Name}}
		</a>
		
		<div class="dropdown-divider"></div>
	
		<h6 class="dropdown-header">{{displaycount}} von {{count}} gefunden</h6>

		<div class="dropdown-divider"></div>
	
		<a 
			class="dropdown-item" 
			href="/plant/create" 
			target="_blank">
			Neue Pflanze anlegen
		</a>
	</div>
</div>
</template>

<script>
import * as alertify from 'alertifyjs';

export default {
	name:'plantselect',
	data: function() {
		return {
			search : '',
			count : 0,
			displaycount: 0
		}
	},
	props:['plants', 'snippet'],
	mounted: function () {
		let _this = this;
		$(_this.$el).on('show.bs.dropdown', function () {
			_this.$nextTick(() => _this.$refs.search.focus());
		});
		this.count = this.plants.length;
	},
	computed: {
        filteredPlants: function(){
			let plants = this.plants.filter((plant) => {
				if (this.search == ''){
					return plant
				}
				if (this.search != ''){
					return plant.Name.toLowerCase().match(this.search.toLowerCase())
				}
			});
			this.displaycount = plants.length;
			return plants.slice(0,5);
		}
    }, 
	methods: {
		connect(plant){
			let _this = this;
			let payload = {
				'PlantID': plant.PlantID,
				'WordID': this.snippet.WordID
			};

			this.$http.post('/api/plant/word/insert', payload).then (response => {
				this.clearsearch();
				alertify.success(response.body.Msg);
				this.$emit('remove')
			}, response => {
				alertify.error(response.body.Msg)
			});
		},
		jumptoelement() {
			this.$nextTick(() => {
				this.$refs.option[0].focus();
			});	
		},
		focussearch() {
			this.$nextTick(() => {
				this.$refs.search.focus();
			});	
		},
		clearsearch() {
			this.search="";
		}
    }
}
</script>

<style>
.dropdown-menu input.search {
	margin-left:1.0rem;
	margin-right:1.0rem;
	width:auto;
}
</style>

