<template>
	<div class="col">
		<div class="row">
			<div class="col-md-5">
				<input class="form-control search" type="text" placeholder="Suchen" v-model="search" ref="search" @keyup.esc="clearsearch">
					<abbr class="search-clear" style="visibility:hidden" v-on:click="clearsearch" ref="searchclear"></abbr>
				</input>
			</div>
			<div class="col-md-7">
				<v-select v-model="planttype" label="Name" :options="planttypes" placeholder="Wähle den Pflanzentyp"></v-select> 
			</div>
		</div>
		<div class="row mt-2">
			<div class="col">
			 	<a class="btn btn-secondary btn-sm" href="/plant/create">+ Pflanze</a>
			</div>
			<div class="col text-right">
				<h6><span class="badge badge-secondary">Showing {{displaycount}} of {{count}}</span></h6>
			</div>
		</div>
		<div class="row">
			<div class="col">
			<ul class="list-unstyled">
				<li class="media my-4" v-for="plant in filteredPlants">
				<img class="d-flex mr-3" :src="'static/img/vi/' + plant.VisuellidentifierID+'.svg'" style="width: 64px; max-height: 64px" alt="Pflanzen Bild">
					 <div class="media-body">
						 <h5 class="mt-0 mb-1"><a v-bind:href="'plant/'+plant.PlantID">{{plant.Name}}</a></h5>
						{{plant.Description}}
					</div>
				</li>
			</ul>
			</div>
		</div>
	</div>
</template>

<script>
import * as alertify from 'alertifyjs';
import vSelect from "vue-select"

export default {
	name: 'plantlist',
	components: {vSelect},
	data: function() {
		return { 
			plants: [],
			planttype: null,
			planttypes: [],
			search: '',
			count: null,
			displaycount: null,
		}
    },
	props: ['url'],
    mounted: function() {
		this.$nextTick(() => this.$refs.search.focus())
        
		// load plants
		this.$http.get(this.url).then(response => {
			this.plants = response.body;
			this.count = response.body.length;
		}, response => {
			alertify.error(response.body.Msg);
		});
		
		// load plant types
		this.$http.get('/api/planttype').then(response => {
			this.planttypes = response.body;
		}, response => {
			alertify.error(response.body.Msg);
		});
    },
    computed: {
            filteredPlants: function(){
                let plants = this.plants.filter((plant) => {
					// no filter
					if (this.search == '' && this.planttype == null)
						return plant;

					// only search
					if (this.search != '' && this.planttype == null)
						return plant.Name.toLowerCase().match(this.search.toLowerCase());

					// only planttype
					if (this.search == '' && this.planttype !== null){
						if (plant.PlantTypeID !== null && plant.PlantTypeID == this.planttype.PlantTypeID)
							return plant;
					}

					// search and class
					if (this.search != '' && this.planttype !== null){
						if (plant.PlantTypeID !== null && plant.PlantTypeID == this.planttype.PlantTypeID)
							return plant.Name.toLowerCase().match(this.search.toLowerCase())
					}
				
				});
				this.displaycount = plants.length;
				return plants;
			}
    }, 
    methods: {
		clearsearch: function(){
			this.search = "";	
		}
    },
	watch: {
		search: function(val){
			if (val === ""){		
				this.$refs.searchclear.style.visibility = "hidden";
			}else{
				this.$refs.searchclear.style.visibility = "visible";
			}
		}
	}
}
</script>
