<template>
	<div class="col">
		<div class="row">
			<div class="col-12">
				<input class="form-control search" type="text" placeholder="Suchen" v-model="search" @keyup="delaysearch">
					<abbr class="search-clear" style="visibility:hidden"></abbr>
				</input>
			</div>
		</div>
		<div class="row mt-2">
			<div class="col">
			</div>
			<div class="col text-right">
				<h6><span class="badge badge-secondary">Showing {{displaycount}} of {{count}}</span></h6>
			</div>
		</div>
		<div class="row">
			<div class="col">
			<ul class="list-unstyled">
				<li v-for="snippet in filteredsnippets">
					<div class="row">
					<div class="col-12">
					<div class="media my-4" >
				<img class="d-flex mr-3" :src="'/static/img/vi/' + snippet.VisuellIdentifierID+'.svg'" style="width: 64px; max-height: 64px" alt="Collection">
					 <div class="media-body">
						 <h5 class="mt-0 mb-1">{{snippet.Word}}</h5>
						<a target="_blank" :href="'/bible/book/' +snippet.BookID +'/chapter/'+snippet.Chapter+'#'+snippet.VersID"> {{snippet.BookName}} {{snippet.Chapter}},{{snippet.VersNumber}}</a>
						{{snippet.Words}}<br/>
					
						<div class="wordconnect">
							<peopleselect
								:peoples="persons"
								:snippet = "snippet"
								v-on:remove="remove(snippet)">
							</peopleselect>
							
							<animalselect
								:animals="animals"
								:snippet = "snippet"
								v-on:remove="remove(snippet)">
							</animalselect>

							<placeselect
								:places="places"
								:snippet = "snippet"
								v-on:remove="remove(snippet)">
							</placeselect>
							
							<tribeselect
								:tribes="tribes"
								:snippet = "snippet"
								v-on:remove="remove(snippet)">
							</tribeselect>
							
							<plantselect
								:plants="plants"
								:snippet = "snippet"
								v-on:remove="remove(snippet)">
							</plantselect>

							<materialselect
								:materials="materials"
								:snippet = "snippet"
								v-on:remove="remove(snippet)">
							</materialselect>
	
							<instrumentselect
								:instruments="instruments"
								:snippet = "snippet"
								v-on:remove="remove(snippet)">
							</instrumentselect>
							
							<unitselect
								:units="units"
								:snippet = "snippet"
								v-on:remove="remove(snippet)">
							</unitselect>
						
							<thingselect
								:things="things"
								:snippet = "snippet"
								v-on:remove="remove(snippet)">
							</thingselect>

						</div>
					</div>
					</div>
					</div>
					</div>
				</li>
			</ul>
			</div>
		</div>
	</div>
</template>

<script>
import peopleselect from "./peopleselect.vue"
import animalselect from "./animalselect.vue"
import placeselect from "./placeselect.vue"
import tribeselect from "./tribeselect.vue"
import plantselect from "./plantselect.vue"
import materialselect from "./materialselect.vue"
import instrumentselect from "./instrumentselect.vue"
import unitselect from "./unitselect.vue"
import thingselect from "./thingselect.vue"

export default {
	name: 'snippet',
	components: {peopleselect, animalselect, placeselect, tribeselect, plantselect,materialselect, instrumentselect,unitselect, thingselect},
	data: function() {
			return { 
				snippets: [],
				filteredsnippets: [],
				persons:[],
				animals:[],
				places:[],
				tribes:[],
				plants:[],
				materials:[],
				instruments:[],
				units:[],
				things:[],
				search: '',
				count: 0,
				displaycount: 0,
				timer: 0
			}
        },
		props: ['url'],
        mounted: function() {
            var _this = this;

			$(".search").focus();

			$('.search').keydown(function(e) {
				if (e.keyCode == 27){
					$(".search").val("");
					_this.search='';
				}
			});
			
			this.$http.get(this.url).then (response => {
				this.snippets = response.body;
				this.filteredsnippets = response.body;
				this.count = response.body.length;
				this.displaycount = response.body.length;
			});

			this.$http.get("/api/person/").then (response => {
					this.persons = response.body;
			});
			
			this.$http.get("/api/animal/").then (response => {
					this.animals = response.body;
			});
			
			this.$http.get("/api/place/").then (response => {
					this.places = response.body;
			});
			
			this.$http.get("/api/tribe/").then (response => {
					this.tribes = response.body;
			});
			
			this.$http.get("/api/plant/").then (response => {
					this.plants = response.body;
			});
			
			this.$http.get("/api/material/").then (response => {
					this.materials = response.body;
			});
	
			this.$http.get("/api/instrument/").then (response => {
					this.instruments = response.body;
			});
		
			this.$http.get("/api/unit/").then (response => {
					this.units = response.body;
			});
			
			this.$http.get("/api/thing/").then (response => {
					this.things = response.body;
			});

		},
        computed: {

        }, 
        methods: {
			remove(s){ 
				this.snippets.splice(this.snippets.indexOf(s), 1);
				this.filteredsnippets.splice(this.filteredsnippets.indexOf(s), 1);
				this.count --;
				this.displaycount --;
			},
			delaysearch(){
				clearTimeout (this.timer);
				this.timer = setTimeout(this.filterSnippets, 1000);
			},
			filterSnippets(){
                let snippets = this.snippets.filter((snippet) => {
					if (this.search == ''){
						$(".search-clear").css("visibility","hidden")
						return snippet
					}
					if (this.search != ''){
						$(".search-clear").css("visibility","visible")
						return snippet.Word.toLowerCase().match(this.search.toLowerCase())
					}
				});
				this.displaycount = snippets.length;
				this.filteredsnippets = snippets;
			}
        },
	}
</script>
