<template>
	<div class="col">
		<div class="row">
			<div class="col-md-5">
				<input class="form-control search" type="text" placeholder="Suchen" v-model="search" ref="search" @keyup.esc="clearsearch">
					<abbr class="search-clear" style="visibility:hidden" v-on:click="clearsearch" ref="searchclear"></abbr>
				</input>
			</div>
			<div class="col-md-7">
				<v-select v-model="thingtype" label="Name" :options="thingtypes" placeholder="Wähle den Objekttyp"></v-select> 
			</div>
		</div>
		<div class="row mt-2">
			<div class="col">
			 	<a class="btn btn-secondary btn-sm" href="/thing/create">+ Objekt</a>
			</div>
			<div class="col text-right">
				<h6><span class="badge badge-secondary">Showing {{displaycount}} of {{count}}</span></h6>
			</div>
		</div>
		<div class="row">
			<div class="col">
			<ul class="list-unstyled">
				<li class="media my-4" v-for="thing in filteredThings">
				<img class="d-flex mr-3" :src="'static/img/vi/' + thing.VisuellidentifierID+'.svg'" style="width: 64px; max-height: 64px" alt="Objekt Bild">
					 <div class="media-body">
						 <h5 class="mt-0 mb-1"><a v-bind:href="'thing/'+thing.ThingID">{{thing.Name}}</a></h5>
						{{thing.Description}}
					</div>
				</li>
			</ul>
			</div>
		</div>
	</div>
</template>

<script>
import * as alertify from 'alertifyjs';
import vSelect from "vue-select"

export default {
	name: 'thinglist',
	components: {vSelect},
	data: function() {
		return { 
			things: [],
			thingtype: null,
			thingtypes: [],
			search: '',
			count: null,
			displaycount: null,
		}
    },
	props: ['url'],
    mounted: function() {
		this.$nextTick(() => this.$refs.search.focus())
        
		// load things
		this.$http.get(this.url).then(response => {
			this.things = response.body;
			this.count = response.body.length;
		}, response => {
			alertify.error(response.body.Msg);
		});
		
		// load thing types
		this.$http.get('/api/thingtype').then(response => {
			this.thingtypes = response.body;
		}, response => {
			alertify.error(response.body.Msg);
		});
    },
    computed: {
            filteredThings: function(){
                let things = this.things.filter((thing) => {
					// no filter
					if (this.search == '' && this.thingtype == null)
						return thing;

					// only search
					if (this.search != '' && this.thingtype == null)
						return thing.Name.toLowerCase().match(this.search.toLowerCase());

					// only thingtype
					if (this.search == '' && this.thingtype !== null){
						if (thing.ThingTypeID !== null && thing.ThingTypeID == this.thingtype.ThingTypeID)
							return thing;
					}

					// search and class
					if (this.search != '' && this.thingtype !== null){
						if (thing.ThingTypeID !== null && thing.ThingTypeID == this.thingtype.ThingTypeID)
							return thing.Name.toLowerCase().match(this.search.toLowerCase())
					}
				
				});
				this.displaycount = things.length;
				return things;
			}
    }, 
    methods: {
		clearsearch: function(){
			this.search = "";	
		}
    },
	watch: {
		search: function(val){
			if (val === ""){		
				this.$refs.searchclear.style.visibility = "hidden";
			}else{
				this.$refs.searchclear.style.visibility = "visible";
			}
		}
	}
}
</script>
