<template>
	<div class="col">
		<div class="row">
			<div class="col-md-12">
				<input class="form-control search" type="text" placeholder="Suchen" v-model="search" ref="search" @keyup.esc="clearsearch">
					<abbr class="search-clear" style="visibility:hidden" v-on:click="clearsearch" ref="searchclear"></abbr>
				</input>
			</div>
		</div>
		<div class="row mt-2">
			<div class="col">
			 	<a class="btn btn-secondary btn-sm" href="/tribe/create">+ Stamm</a>
			</div>
			<div class="col text-right">
				<h6><span class="badge badge-secondary">Showing {{displaycount}} of {{count}}</span></h6>
			</div>
		</div>
		<div class="row">
			<div class="col">
			<ul class="list-unstyled">
				<li class="media my-4" v-for="tribe in filteredTribes">
				<img class="d-flex mr-3" :src="'static/img/vi/' + tribe.VisuellidentifierID+'.svg'" style="width: 64px; max-height: 64px" alt="Bild des Stammes">
					 <div class="media-body">
						 <h5 class="mt-0 mb-1"><a v-bind:href="'tribe/'+tribe.TribeID">{{tribe.Name}}</a></h5>
						{{tribe.Description}}
					</div>
				</li>
			</ul>
			</div>
		</div>
	</div>
</template>

<script>
import * as alertify from 'alertifyjs';
import vSelect from "vue-select"

export default {
	name: 'tribelist',
	components: {vSelect},
	data: function() {
		return { 
			tribes: [],
			search: '',
			count: null,
			displaycount: null,
		}
    },
	props: ['url'],
    mounted: function() {
		this.$nextTick(() => this.$refs.search.focus())
        
		// load tribes
		this.$http.get(this.url).then(response => {
			this.tribes = response.body;
			this.count = response.body.length;
		}, response => {
			alertify.error(response.body.Msg);
		});
    },
    computed: {
            filteredTribes: function(){
                let tribes = this.tribes.filter((tribe) => {
					// no filter
					if (this.search == '')
						return tribe;

					// only search
					if (this.search != '')
						return tribe.Name.toLowerCase().match(this.search.toLowerCase());
				});
				this.displaycount = tribes.length;
				return tribes;
			}
    }, 
    methods: {
		clearsearch: function(){
			this.search = "";	
		}
    },
	watch: {
		search: function(val){
			if (val === ""){		
				this.$refs.searchclear.style.visibility = "hidden";
			}else{
				this.$refs.searchclear.style.visibility = "visible";
			}
		}
	}
}
</script>
