<template>
	<div class="col">
		<div class="row">
			<div class="col-md-5">
				<input class="form-control search" type="text" placeholder="Suchen" v-model="search" ref="search" @keyup.esc="clearsearch">
					<abbr class="search-clear" style="visibility:hidden" v-on:click="clearsearch" ref="searchclear"></abbr>
				</input>
			</div>
			<div class="col-md-7">
				<v-select v-model="unittype" label="Name" :options="unittypes" placeholder="Wähle den Maßeinheitentyp"></v-select> 
			</div>
		</div>
		<div class="row mt-2">
			<div class="col">
			 	<a class="btn btn-secondary btn-sm" href="/unit/create">+ Maßeinheit</a>
			</div>
			<div class="col text-right">
				<h6><span class="badge badge-secondary">Showing {{displaycount}} of {{count}}</span></h6>
			</div>
		</div>
		<div class="row">
			<div class="col">
			<ul class="list-unstyled">
				<li class="media my-4" v-for="unit in filteredUnits">
				<img class="d-flex mr-3" :src="'static/img/vi/' + unit.VisuellidentifierID+'.svg'" style="width: 64px; max-height: 64px" alt="Maßeinheiten Bild">
					 <div class="media-body">
						 <h5 class="mt-0 mb-1"><a v-bind:href="'unit/'+unit.UnitID">{{unit.Name}}</a></h5>
						{{unit.Description}}
					</div>
				</li>
			</ul>
			</div>
		</div>
	</div>
</template>

<script>
import * as alertify from 'alertifyjs';
import vSelect from "vue-select"

export default {
	name: 'unitlist',
	components: {vSelect},
	data: function() {
		return { 
			units: [],
			unittype: null,
			unittypes: [],
			search: '',
			count: null,
			displaycount: null,
		}
    },
	props: ['url'],
    mounted: function() {
		this.$nextTick(() => this.$refs.search.focus())
        
		// load units
		this.$http.get(this.url).then(response => {
			this.units = response.body;
			this.count = response.body.length;
		}, response => {
			alertify.error(response.body.Msg);
		});
		
		// load unit types
		this.$http.get('/api/unittype').then(response => {
			this.unittypes = response.body;
		}, response => {
			alertify.error(response.body.Msg);
		});
    },
    computed: {
            filteredUnits: function(){
                let units = this.units.filter((unit) => {
					// no filter
					if (this.search == '' && this.unittype == null)
						return unit;

					// only search
					if (this.search != '' && this.unittype == null)
						return unit.Name.toLowerCase().match(this.search.toLowerCase());

					// only unittype
					if (this.search == '' && this.unittype !== null){
						if (unit.UnitTypeID !== null && unit.UnitTypeID == this.unittype.UnitTypeID)
							return unit;
					}

					// search and class
					if (this.search != '' && this.unittype !== null){
						if (unit.UnitTypeID !== null && unit.UnitTypeID == this.unittype.UnitTypeID)
							return unit.Name.toLowerCase().match(this.search.toLowerCase())
					}
				
				});
				this.displaycount = units.length;
				return units;
			}
    }, 
    methods: {
		clearsearch: function(){
			this.search = "";	
		}
    },
	watch: {
		search: function(val){
			if (val === ""){		
				this.$refs.searchclear.style.visibility = "hidden";
			}else{
				this.$refs.searchclear.style.visibility = "visible";
			}
		}
	}
}
</script>
