<template>
	<div class="col">
		<div class="row">
			<div class="col-12">
				<input class="form-control search" type="text" placeholder="Suchen" v-model="search">
					<abbr class="search-clear" style="visibility:hidden"></abbr>
				</input>
			</div>
		</div>
		<div class="row mt-2">
			<div class="col">
			</div>
			<div class="col text-right">
				<h6><span class="badge badge-secondary">Showing {{displaycount}} of {{count}}</span></h6>
			</div>
		</div>
		<div class="row">
			<div class="col">
			<ul class="list-unstyled">
				<li v-for="word in filteredWords">
					<div class="row">
						<div class="col-12 col-sm-10">
							<div class="media my-4" >
							<img class="d-flex mr-3" :src="'/static/img/vi/' + word.VisuellIdentifierID+'.svg'" style="width: 64px; max-height: 64px" alt="Word">
							<div class="media-body">
								<h5 class="mt-0 mb-1">{{word.Word}}</h5>
								<a target="_blank" :href="'/bible/book/' +word.BookID +'/chapter/'+word.Chapter+'#'+word.VersID"> {{word.BookName}} {{word.Chapter}},{{word.VersNumber}}</a>
								{{word.Words}}<br/>
							</div>
							</div>
						</div>
						<div class="col-12 col-sm-2 text-right">
							<div class="row align-items-center" style="height:100%">
							<div class="col" >
							<button type="button" v-on:click="del(word)" class="btn btn-secondary btn-sm btn-block">Löschen</button>
							</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
			</div>
		</div>
	</div>
</template>

<script>
import * as alertify from 'alertifyjs';
export default {
	name: 'word',
	data: function() {
		return { 
			words: [],
			search: '',
			count: null,
			displaycount: null,
		}
    },
	props: ['url', 'deleteurl', 'entityid'],
    mounted: function() {
        var _this = this;

		$(".search").focus();

		$('.search').keydown(function(e) {
			if (e.keyCode == 27){
				$(".search").val("");
				_this.search='';
			}
		});

		var entity = {
			Entityid: parseInt(_this.entityid)
		}

		$.ajax({
			url: _this.url,
			type: 'POST',
			data: JSON.stringify(entity),
			contentType: 'application/json; charset=utf-8',
			dataType: 'json'
		})
		.done(function( data ) {
			_this.words = data;
			_this.count = data.length;      
		})
		.fail(function( data ) {
			alertify.error(data.Msg);
		});
    },
    computed: {
		filteredWords: function(){
			let words = this.words.filter((word) => {
				if (this.search == ''){
					$(".search-clear").css("visibility","hidden")
					return word
				}
				if (this.search != ''){
					$(".search-clear").css("visibility","visible")
					return word.Word.toLowerCase().match(this.search.toLowerCase())
				}
			});
			this.displaycount = words.length;
			return words;
		}
    }, 
    methods: {
		del: function(word){
			var _this = this
			alertify.confirm(
				"Verknüpfung mit Wort \"" + word.Word + "\" löschen?", 
				"Bist du dir sicher, dass du die Verknüpfung mit \"" + word.Word + "\" löschen möchtest?", 
				function(){ 
					$.ajax({
						url: _this.deleteurl,
						type: 'POST',
						data: JSON.stringify(word),
						contentType: 'application/json; charset=utf-8',
						dataType: 'json'
					})
					.done(function( data ) {
						console.log(data);
						alertify.success(data.Msg)
						_this.words.splice(_this.words.indexOf(word),1)
						_this.displaycount = _this.words.length
						_this.count = _this.words.length
					})
					.fail(function( data ) {
						alertify.error(data.Msg);
					});
				}, 
				function(){
					alertify.warning('Löschen von Verknüpfung "' + word.Word + '" abgegbrochen!');
				}
			);
		}
	}
}
</script>
