{{ define "content" }}
<div class="w3-panel">
<!-- The Grid -->
<div class="w3-row">
	<!-- Left Column -->
	<div class="w3-col m2">
		<div class="w3-card w3-white w3-small">
				<div class="w3-container">
					<h6>{{.book.Name}} - Kapitel</h6>
					<p>
					{{ range .chapters}}
						{{if eq . $.chapter}}
							<a class="active" href="/bible/book/{{$.book.BookID}}/chapter/{{.}}">{{.}}</a>{{if ne . $.chapterCount}},{{end}}
						{{else}}
							<a href="/bible/book/{{$.book.BookID}}/chapter/{{.}}">{{.}}</a>{{if ne . $.chapterCount}},{{end}}
						{{end}}
					{{ end }}
					</p>
				</div>
		</div>
		<br/>	
		<div class="w3-card w3-white w3-small">
				<div class="w3-container">
					<h6>Kapitel {{.chapter}} - Verse</h6>
					<p>
					{{range .verses}}
						<a href="#" onclick="scroll_to_vers({{.VersID}})">{{.Number}}</a>,
					{{end}}
					</p>
				</div>
		</div>

		<span style="visibility:hidden;">empty</span>
	</div>
	<!-- Middle Column -->
	<div class="w3-col m8">
		<div class="w3-row-padding">
		<div class="w3-card w3-white">
			<div class="w3-row">
			<div class="w3-col m3">
				{{if gt .chapter 1}}
				<a class="w3-button w3-theme-l1" href="/bible/book/{{.book.BookID}}/chapter/{{.prevchapter}}">Vorheriges Kapitel</a>
				{{else}}
				<div style="visibility:hidden;">empty</div>
				{{end}}
			</div>
			<div class="w3-col m6 w3-center">
				<p>Kapitel {{.chapter}} von {{.chapterCount}}</p>
			</div>
			<div class="w3-col m3 w3-right-align">
				{{if lt .chapter .chapterCount}}
				<a class="w3-button w3-theme-l1" href="/bible/book/{{.book.BookID}}/chapter/{{.nextchapter}}">Nächstes Kapitel</a>
				{{else}}
				<div style="visibility:hidden;">empty</div>
				{{end}}
			</div>
		</div>

		<div class="w3-container">
	
		<div class="w3-row">
			<div class="w3-col">
			</div>
			<div class="w3-col">
				<h1 style="margin-top:.5em">Kapitel {{.chapter}}</h1>
			</div>
		</div>


		{{range .verses}}
		<div class = "w3-row w3-margin-bottom">
			<div class="w3-col m1">{{.Number}}</div>
			<div class="w3-col m11"> <span class="vers" id="{{.VersID}}">{{.Words}}</span></div>
		</div>
		{{end}}
	
		</div>
		<div class="w3-row w3-margin-top">
			<div class="w3-col m3">
				{{if gt .chapter 1}}
				<a class="w3-button w3-theme-l1" href="/bible/book/{{.book.BookID}}/chapter/{{.prevchapter}}">Vorheriges Kapitel</a>
				{{else}}
				<div style="visibility:hidden;">empty</div>

				{{end}}
			</div>
			<div class="w3-col m6 w3-center">
				<p>Kapitel {{.chapter}} von {{.chapterCount}}</p>
			</div>
			<div class="w3-col m3 w3-right-align">
				{{if lt .chapter .chapterCount}}
				<a class="w3-button w3-theme-l1" href="/bible/book/{{.book.BookID}}/chapter/{{.nextchapter}}">Nächstes Kapitel</a>
				{{else}}
				<div style="visibility:hidden;">empty</div>
				{{end}}
			</div>
		</div>

		</div>
		</div>
	</div>
	<!-- Right Column -->
	<div class="w3-col m2">
		<div class="w3-card w3-white">
				<div class="w3-container w3-small">
					<h6>Anzahl von Objekten</h6>
					<table class="w3-table">
						<tr>
							<td><span style="height:16px; width: 16px; text-align:center; margin-right:8px;"><img src="/static/img/vi/3.svg" style="max-height:16px; max-width:16px; margin:auto;"></span></td>
							<td class="person">Personen</td>
							<td><b>256</b></td>
						</tr>
						<tr>
							<td><span style="height:16px; width: 16px; text-align:center; margin-right:8px;"><img src="/static/img/vi/4.svg" style="max-height:16px; max-width:16px; margin:auto;"></span></td>
							<td class="animal">Tiere</td>
							<td><b>56</b></td>
						</tr>
						<tr>
							<td><span style="height:16px; width: 16px; text-align:center; margin-right:8px;"><img src="/static/img/vi/5.svg" style="max-height:16px; max-width:16px; margin:auto;"></span></td>
							<td class="animal">Orte</td>
							<td><b>56</b></td>
						</tr>
					</table>
	      			</div>

	</div>
</div>
</div>
<script type="text/javascript">
	var data = {
		'BookID' : {{.book.BookID}},
		'Chapter' : {{.chapter}}
	} 
</script>
<script src="/static/dist/chapter.js"></script>
{{end}}
