{{ define "content" }}

<div class = "row" id="collectionDetail">
	<div class="col">
		<div class="media">
			<img class="d-flex mr-3" src="/static/img/vi/{{.collection.VisuellidentifierID}}.svg" alt="{{.collection.Name}}" style="width:64px; max-height:64px">
			<div class="media-body">
				<h5 class="mt-0">{{.collection.Name}}</h5>
				{{.collection.NameLong}}
			</div>
		</div>
	</div>
</div>

<div class = "row" style="margin-top:20px">
	<div class="col">
		<div id="books" class="row">
			<books url="/api/collection/{{.collection.CollectionID}}/books"></books>
		</div>
	</div>
</div>

<script src="/static/dist/book.js"></script>
{{end}}
