{{ define "content" }}
<div class="row" id="createForm" >
	<div class="col-12">		
		{{ template "animalform" .}}
	</div>
</div>

<script type="text/javascript">
var startanimal = {
	"AnimalID": {{.animal.AnimalID}},
	"Name" : {{.animal.Name}},
	"Description" : {{.animal.Description}},
	"VisuellidentifierID" : {{.animal.VisuellidentifierID}},
	"ClassID" : {{.animal.ClassID}}
}
</script>

<script src="/static/dist/animalcreate.js"></script>
{{end}}
