{{ define "content" }}

<div class = "row" id="animalDetail">

	<div class="col">
		<div class="row my-3" id="detailView" v-cloak>
			<div class="col-12">
				<div class="row ">
					<div class="col-12 col-sm-10">
						<div class="media">
							<img class="d-flex mr-3" :src="'/static/img/vi/'+animal.VisuellidentifierID+'.svg'" style="width:64px; max-height:64px" v-if="animal.VisuellidentifierID">
							<div class="media-body">
								<h5 class="mt-0">${animal.Name}</h5>
								${animal.Description}<br/>
								Tierart: ${animal.ClassName}
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-2 text-right">
						<button type="button" v-on:click="askdel" class="btn btn-secondary btn-sm btn-block">Löschen</button>
						<button type="button" v-on:click="toggle" class="btn btn-secondary btn-sm btn-block">Bearbeiten</button>
					</div>
				</div>
			</div>
		</div>

		<div class="row" v-if="formvisible">
			<div class="col-12">		
				{{ template "animalform" .}}
			</div>
		</div>
		<h2>Nennungen</h2>
		<div id="words" class="row">
			<word url="/api/animal/word" deleteurl="/api/animal/word/delete" entityid="{{.animal.AnimalID}}"></word>
		</div>
	</div>
</div>

<script type="text/javascript">
var startanimal = {
	"AnimalID": {{.animal.AnimalID}},
	"Name" : {{.animal.Name}},
	"Description" : {{.animal.Description}},
	"VisuellidentifierID" : {{.animal.VisuellidentifierID}},
	"ClassID" : {{.animal.ClassID}},
	"ClassName" : {{.animal.ClassName}},
}
</script>

<script src="/static/dist/animaldetail.js"></script>
{{end}}
