{{ define "content" }}
<div class="row" id="createForm" >
	<div class="col-12">		
		{{ template "plantform" .}}
	</div>
</div>

<script type="text/javascript">
var startplant = {
	"PlantID": {{.plant.PlantID}},
	"Name" : {{.plant.Name}},
	"Description" : {{.plant.Description}},
	"VisuellidentifierID" : {{.plant.VisuellidentifierID}},
	"PlantTypeID" : {{.plant.PlantTypeID}},
	"PlantTypeName" : {{.plant.PlantTypeName}}
}
</script>

<script src="/static/dist/plantcreate.js"></script>
{{end}}
