{{ define "content" }}

<div class = "row" id="plantDetail">

	<div class="col">
		<div class="row my-3" id="detailView" v-cloak>
			<div class="col-12">
				<div class="row ">
					<div class="col-12 col-sm-10">
						<div class="media">
							<img class="d-flex mr-3" :src="'/static/img/vi/'+plant.VisuellidentifierID+'.svg'" style="width:64px; max-height:64px" v-if="plant.VisuellidentifierID">
							<div class="media-body">
								<h5 class="mt-0">${plant.Name}</h5>
								${plant.Description}<br/>
								Pflanzen Typ: ${plant.PlantTypeName}
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-2 text-right">
						<button type="button" v-on:click="askdel" class="btn btn-secondary btn-sm btn-block">Löschen</button>
						<button type="button" v-on:click="toggle" class="btn btn-secondary btn-sm btn-block">Bearbeiten</button>
					</div>
				</div>
			</div>
		</div>

		<div class="row" v-if="formvisible">
			<div class="col-12">		
				{{ template "plantform" .}}
			</div>
		</div>
		<h2>Nennungen</h2>
		<div id="words" class="row">
			<word url="/api/plant/word" deleteurl="/api/plant/word/delete" entityid="{{.plant.PlantID}}"></word>
		</div>
	</div>
</div>

<script type="text/javascript">
var startplant = {
	"PlantID": {{.plant.PlantID}},
	"Name" : {{.plant.Name}},
	"Description" : {{.plant.Description}},
	"VisuellidentifierID" : {{.plant.VisuellidentifierID}},
	"PlantTypeID" : {{.plant.PlantTypeID}},
	"PlantTypeName" : {{.plant.PlantTypeName}}
}
</script>

<script src="/static/dist/plantdetail.js"></script>
{{end}}
