{{ define "content" }}
<div class="row" id="createForm" >
	<div class="col-12">		
		{{ template "materialform" .}}
	</div>
</div>

<script type="text/javascript">
var startmaterial = {
	"MaterialID": {{.material.MaterialID}},
	"Name" : {{.material.Name}},
	"Description" : {{.material.Description}},
	"VisuellidentifierID" : {{.material.VisuellidentifierID}},
	"MaterialTypeID" : {{.material.MaterialTypeID}},
	"MaterialTypeName" : {{.material.MaterialTypeName}}
}
</script>

<script src="/static/dist/materialcreate.js"></script>
{{end}}
