{{ define "content" }}

<div class = "row" id="materialDetail">

	<div class="col">
		<div class="row my-3" id="detailView" v-cloak>
			<div class="col-12">
				<div class="row ">
					<div class="col-12 col-sm-10">
						<div class="media">
							<img class="d-flex mr-3" :src="'/static/img/vi/'+material.VisuellidentifierID+'.svg'" style="width:64px; max-height:64px" v-if="material.VisuellidentifierID">
							<div class="media-body">
								<h5 class="mt-0">${material.Name}</h5>
								${material.Description}<br/>
								Material Typ: ${material.MaterialTypeName}
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-2 text-right">
						<button type="button" v-on:click="askdel" class="btn btn-secondary btn-sm btn-block">Löschen</button>
						<button type="button" v-on:click="toggle" class="btn btn-secondary btn-sm btn-block">Bearbeiten</button>
					</div>
				</div>
			</div>
		</div>

		<div class="row" v-if="formvisible">
			<div class="col-12">		
				{{ template "materialform" .}}
			</div>
		</div>
		<h2>Nennungen</h2>
		<div id="words" class="row">
			<word url="/api/material/word" deleteurl="/api/material/word/delete" entityid="{{.material.MaterialID}}"></word>
		</div>
	</div>
</div>

<script type="text/javascript">
var startmaterial = {
	"MaterialID": {{.material.MaterialID}},
	"Name" : {{.material.Name}},
	"Description" : {{.material.Description}},
	"VisuellidentifierID" : {{.material.VisuellidentifierID}},
	"MaterialTypeID" : {{.material.MaterialTypeID}},
	"MaterialTypeName" : {{.material.MaterialTypeName}}
}
</script>

<script src="/static/dist/materialdetail.js"></script>
{{end}}
