{{ define "materialform" }}
<form class="p-2" style="background-color:#f7f7f7" @keyup.esc="cancel" @keyup.enter="save" v-on:submit.prevent="onSubmit">
	<div class="form-group">
		<label for="Name">Name</label>
		<input type="text" class="form-control" id="Name" aria-describedby="NameHelp" v-model="material.Name" ref="name">
		<small id="NameHelp" class="form-text text-muted">Der Name des Material. Er muss ein eindeutig sein.</small>
	</div>

	<div class="form-group">
		<label for="Description">Beschreibung</label>
		<textarea class="form-control" id="Description" rows="3" aria-describedby="DescriptionHelp" v-model="material.Description"></textarea>
		<small id="DescriptionHelp" class="form-text text-muted">Eine kurze Beschreibung des Materials.</small>
	</div>

	<div class="form-group">
		<label for="Description">Materialtyp</label>
		<v-select v-model="materialtype" label="Name" :options="materialtypes" placeholder="Wähle den Materialtyp"></v-select> 
		<small id="DescriptionHelp" class="form-text text-muted">Wähle den Materialtyp.</small>
	</div>

	<div class="form-group">
		<label for="Description">Bild</label>
		<v-select v-model="visuellidentifier" :options="visuellidentifiers" label="SystemName" placeholder= "Wähle ein Bild für das Material">
			<template slot="option" slot-scope="option">
				<span>	
					<img :src="option.imageurl" style="width:32px; max-height:32px">
				</span>
				${ option.SystemName }
			</template>
		</v-select>		
		<small id="DescriptionHelp" class="form-text text-muted">Wähle das Bild für das Material</small>
	</div>

	<div class="text-right">
		<button type="button" id="Cancel" class="btn btn-warning btn-sm" v-on:click="cancel">Abbrechen</button>
		<button type="button" id="Save" class="btn btn-primary btn-sm" v-on:click="save">Speichern</button>
	</div>
</form>
{{end}}
