{{ define "content" }}
<div class="row" id="createForm" >
	<div class="col-12">		
		{{ template "unitform" .}}
	</div>
</div>

<script type="text/javascript">
var startunit = {
	"UnitID": {{.unit.UnitID}},
	"Name" : {{.unit.Name}},
	"Description" : {{.unit.Description}},
	"VisuellidentifierID" : {{.unit.VisuellidentifierID}},
	"UnitTypeID" : {{.unit.UnitTypeID}},
	"UnitTypeName" : {{.unit.UnitTypeName}}
}
</script>

<script src="/static/dist/unitcreate.js"></script>
{{end}}
