{{ define "content" }}

<div class = "row" id="unitDetail">

	<div class="col">
		<div class="row my-3" id="detailView" v-cloak>
			<div class="col-12">
				<div class="row ">
					<div class="col-12 col-sm-10">
						<div class="media">
							<img class="d-flex mr-3" :src="'/static/img/vi/'+unit.VisuellidentifierID+'.svg'" style="width:64px; max-height:64px" v-if="unit.VisuellidentifierID">
							<div class="media-body">
								<h5 class="mt-0">${unit.Name}</h5>
								${unit.Description}<br/>
								Maßeinheiten Typ: ${unit.UnitTypeName}
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-2 text-right">
						<button type="button" v-on:click="askdel" class="btn btn-secondary btn-sm btn-block">Löschen</button>
						<button type="button" v-on:click="toggle" class="btn btn-secondary btn-sm btn-block">Bearbeiten</button>
					</div>
				</div>
			</div>
		</div>

		<div class="row" v-if="formvisible">
			<div class="col-12">		
				{{ template "unitform" .}}
			</div>
		</div>
		<h2>Nennungen</h2>
		<div id="words" class="row">
			<word url="/api/unit/word" deleteurl="/api/unit/word/delete" entityid="{{.unit.UnitID}}"></word>
		</div>
	</div>
</div>

<script type="text/javascript">
var startunit = {
	"UnitID": {{.unit.UnitID}},
	"Name" : {{.unit.Name}},
	"Description" : {{.unit.Description}},
	"VisuellidentifierID" : {{.unit.VisuellidentifierID}},
	"UnitTypeID" : {{.unit.UnitTypeID}},
	"UnitTypeName" : {{.unit.UnitTypeName}}
}
</script>

<script src="/static/dist/unitdetail.js"></script>
{{end}}
