{{ define "breadcrumb" }}
<div class="w3-bar w3-theme-l1 w3-small">
	{{$n := len .ctx.Breadcrumbs}}
	{{range $i, $e := .ctx.Breadcrumbs}}
		{{if eq (plus1 $i) $n}}
		<span class="w3-bar-item"><b>{{$e.Name}}</b></span>
		{{else}}
			<a class="w3-bar-item" href="{{$e.URL}}">{{$e.Name}}</a>
			<span class="w3-bar-item" style="padding-right:0; padding-left:0;"><b>/</b></span>
		{{end}}
	{{end}}
</div>
{{end}}
