<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Michael Krnac">
    <link rel="icon" href="/static/img/favicon.ico">

	<title>{{.ctx.Page.Title}}</title>
  </head>

  <body class="w3-theme-l5">
		<div class="w3-top">
			{{ template "navbar" .}}
			{{ template "breadcrumb" .}}
		</div>
		<div class="w3-content" style="max-width:1400px;margin-top:96px">    
		{{ template "content" .}}
		</div>
		{{ template "footer" }}
  </body>
</html>
