{{ define "navbar" }}
<div class="w3-bar w3-theme-d2 w3-card">
	<a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu">N</a>
    <a href="/" class="w3-bar-item w3-button w3-padding-large w3-theme-d4">HOME</a>
    <a href="/bible" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-hover-white">BIBEL</a>
	
	<div class="w3-dropdown-hover w3-hide-small w3-hover-white">
		<button class="w3-padding-large w3-button" title="Object Menü">OBJEKTE<i class="fa fa-caret-down"></i></button>     
		<div class="w3-dropdown-content w3-bar-block w3-card-4" style="width:200px">
			<a href="/person" class="w3-bar-item w3-button"><span style="height:16px; width: 16px; text-align:center; margin-right:8px;"><img src="/static/img/vi/3.svg" style="max-height:16px; max-width:16px; margin:auto;"></span>PERSONEN</a>
		    <a href="/animal" class="w3-bar-item w3-button"><span style="height:16px; width: 16px; text-align:center; margin-right:8px;"><img src="/static/img/vi/4.svg" style="max-height:16px; max-width:16px; margin:auto;"></span>TIERE</a>
			<a href="/place" class="w3-bar-item w3-button"><span style="height:16px; width: 16px; text-align:center; margin-right:8px;"><img src="/static/img/vi/5.svg" style="max-height:16px; max-width:16px; margin:auto;"></span>ORTE</a>
			<a href="/plant" class="w3-bar-item w3-button"><span style="height:16px; width: 16px; text-align:center; margin-right:8px;"><img src="/static/img/vi/37.svg" style="max-height:16px; max-width:16px; margin:auto;"></span>PFLANZEN</a>
			<a href="/material" class="w3-bar-item w3-button"><span style="height:16px; width: 16px; text-align:center; margin-right:8px;"><img src="/static/img/vi/38.svg" style="max-height:16px; max-width:16px; margin:auto;"></span>MATERIALIEN</a>
			<a href="/instrument" class="w3-bar-item w3-button"><span style="height:16px; width: 16px; text-align:center; margin-right:8px;"><img src="/static/img/vi/40.svg" style="max-height:16px; max-width:16px; margin:auto;"></span>INSTRUMENTE</a>
			<a href="/tribe" class="w3-bar-item w3-button"><span style="height:16px; width: 16px; text-align:center; margin-right:8px;"><img src="/static/img/vi/22.svg" style="max-height:16px; max-width:16px; margin:auto;"></span>STÄMME</a>
			<a href="/unit" class="w3-bar-item w3-button"><span style="height:16px; width: 16px; text-align:center; margin-right:8px;"><img src="/static/img/vi/39.svg" style="max-height:16px; max-width:16px; margin:auto;"></span>MAßEINHEITEN</a>
			<a href="/thing" class="w3-bar-item w3-button"><span style="height:16px; width: 16px; text-align:center; margin-right:8px;"><img src="/static/img/vi/41.svg" style="max-height:16px; max-width:16px; margin:auto;"></span>DINGE</a>
		</div>
    </div>

    <a href="/maps" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-hover-white">KARTEN</a>
    
	<div class="w3-dropdown-hover w3-hide-small w3-right w3-hover-white">
		<button class="w3-padding-large w3-button" title="User Menü">{{.ctx.User.Name}}<i class="fa fa-caret-down"></i></button>     
		<div class="w3-dropdown-content w3-bar-block w3-card-4" style="right:0">
			<a href="#" class="w3-bar-item w3-button">Markierungen</a>
			<a href="#" class="w3-bar-item w3-button">Lesezeichen</a>
			<a href="#" class="w3-bar-item w3-button">Abmelden</a>
		</div>
    </div>
  </div>
{{end}}
