{{ define "content" }}
<!-- The Grid -->
<div class="w3-row">
	<!-- Left Column -->
	<div class="w3-col m2">
		<span style="visibility:hidden;">empty</span>
	</div>
	<!-- Middle Column -->
	<div class="w3-col m8">
		<div class="w3-row">
			<div class="w3-col s10 w3-light-grey w3-tiny" >
				<div class="w3-container w3-green w3-center progress-bar">0</div>
			</div>
			<div class="w3-col s2 w3-right-align">
				<div class="w3-light-grey w3-tiny progress-count"></div>
			</div>
		</div> 
		<div class="w3-row">
		<div class="w3-col w3-margin-bottom" id="activesnippet">
			<div class="w3-row w3-margin-top">
				<div class="w3-col s1">
					<a href="#" class="w3-button" id="bt-prev">&#10094;</a>
				</div>
				<div class="w3-col s10 w3-center">
					<h4 class="snippetword"></h4>
				</div>
				<div class="w3-col s1">
					<a href="#" class="w3-button w3-right" id="bt-next">&#10095;</a>
				</div>
			</div>

			<div class="w3-row w3-margin-top">
				<p id ="vers"></p>
				<p class="w3-small"><a id="verslink" target="_blank"></a></p>

				<input id ="search" class="w3-input w3-border" type="text" placeholder="Person, Tier, Ort, ..." autocomplete="off"> 
		  
				<template id="listli">
					<li class="w3-row" tabindex="0" style="cursor:pointer;">
						<div class="w3-col s10 oname">Jill</div> 
						<div class="w3-col s2 w3-right-align">
							<div class="w3-tag w3-round-xlarge otag">Person</div>
						</div>
					</li>
				</template>

				<ul class="w3-ul w3-card-4 w3-small" style="width:100%" id="autocomplete">
				</ul>	
			</div>
		</div>
		</div>
	</div>
	<!-- Right Column -->
	<div class="w3-col m2">
	</div>
</div>

<script src="/static/dist/snippetng.js"></script>
{{end}}
