{{define "content"}}
    <ul class="list-unstyled">
        <li class="media my-4">
            <img class="d-flex mr-3" src="static/img/vi/34.svg" style="width: 64px; max-height: 64px" alt="Bibel">
            <div class="media-body">
            <h5 class="mt-0 mb-1"><a href="/bible/book">Bücher</a></h5>
            Alle Bücher der Bibel in einer Übersicht.
            </div>
        </li>    
      
        <li class="media my-4">
            <img class="d-flex mr-3" src="static/img/vi/35.svg" style="width: 64px; max-height:64px" alt="Personen">
            <div class="media-body">
            <h5 class="mt-0 mb-1"><a href="/bible/collection">Sammlungen</a></h5>
            Zusammenstellung von Büchern.
            </div>
        </li>

        <li class="media my-4">
            <img class="d-flex mr-3" src="static/img/vi/36.svg" style="width: 64px; max-height:64px" alt="Tiere">
            <div class="media-body">
            <h5 class="mt-0 mb-1"><a href="/bible/snippet">Ausschnitte</a></h5>
            Ausschnitte aus Versen.
            </div>
        </li>

		<li class="media my-4">
            <img class="d-flex mr-3" src="static/img/vi/36.svg" style="width: 64px; max-height:64px" alt="Tiere">
            <div class="media-body">
            <h5 class="mt-0 mb-1"><a href="/bible/snippetng">AusschnitteNG</a></h5>
            Ausschnitte aus Versen NG.
            </div>
        </li>
 
    </ul>
    <script src="/static/dist/bible.js"></script>
{{end}}
