{{define "content"}}
<div id="map" class="map">
	<div id="tooltip">
		<span class="tooltiptext">Tooltip text</span>
	</div>
</div>
 <style>
		#map {
			height: calc(100vh - 200px); /* 100% of the viewport height - navbar height */
		}
		.map {
			width:100%;
		}
      .map:-moz-full-screen {
        height: 100%;
        width: 100%;
      }
      .map:-webkit-full-screen {
        height: 100%;
        width: 100%;
      }
      .map:-ms-fullscreen {
        height: 100%;
        width: 100%;
      }
      .map:fullscreen {
        height: 100%;
        width: 100%;
      }
      .ol-rotate {
        top: 3em;
      }

	.ol-scale-line {
		left: 50%;
		transform: translate(-50%, 0);
		-ms-transform: translate(-50%, 0)
	}

	/* Tooltip container */
#tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
#tooltip .tooltiptext {
//  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
#tooltip:hover .tooltiptext {
  visibility: visible;
}
    </style>
	<br/>
<script src="/static/dist/mapsallplaces.js"></script>
{{end}}
