{{define "content"}}

<div id="container"></div>
<style>
#container {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}
</style>
<script src="/static/dist/mapsfamilytree.js"></script>
{{end}}
