{{define "content"}}
    <ul class="list-unstyled">
        <li class="media my-4">
            <img class="d-flex mr-3" src="static/img/vi/2.svg" style="width: 64px; max-height: 64px" alt="Bibel">
            <div class="media-body">
            <h5 class="mt-0 mb-1"><a href="/maps/allplaces">Karte mit allen Orten</a></h5>
				Schaue dir alle Orte der Bibel auf der Karte an.
            </div>
        </li>    
		<li class="media my-4">
            <img class="d-flex mr-3" src="static/img/vi/2.svg" style="width: 64px; max-height: 64px" alt="Bibel">
            <div class="media-body">
            <h5 class="mt-0 mb-1"><a href="/maps/familytree">Stammbaum</a></h5>
				Schaue dir den Stammbaum der Bibel an.
            </div>
        </li>    
    </ul>
    <script src="/static/dist/home.js"></script>
{{end}}
