{{ define "content" }}

<div class = "row" id="bookDetail">
	<div class="col">
		<div class="media">
			<img class="d-flex mr-3" src="/static/img/vi/{{.book.VisuellidentifierID}}.svg" alt="{{.book.Name}}" style="width:64px; max-height:64px">
			<div class="media-body">
				<h5 class="mt-0">{{.book.Name}}</h5>
				{{.book.NameLong}}
			</div>
		</div>

		<div class="list-group">
			{{range .chapters}}
			<a href="/bible/book/{{$.book.BookID}}/chapter/{{.}}" class="list-group-item list-group-item-action">Kapitel {{.}}</a>
			{{end}}
		</div>
	</div>
</div>
<script src="/static/dist/bookdetail.js"></script>
{{end}}
