{{define "content"}}
<div class="w3-panel">
	<div class="w3-row">
		<div class="w3-col m2">	
			<div class="w3-card w3-white w3-small">
				<div class="w3-container">
					<h6>Altes Testament</h6>
					<div id="at" class="w3-margin-bottom"></div>
				</div>
			</div>
			<br/>	
			<div class="w3-card w3-white w3-small">
				<div class="w3-container">
					<h6>Neues Testament</h6>
					<div id="nt" class="w3-margin-bottom"></div>
				</div>
			</div>
		</div>
	      	<div class="w3-col m8">
			<div class="w3-row-padding">
				<div class="w3-card w3-white">
					<div class="w3-container w3-small">
						<h6>Willkommen auf wurzel.de</h6>
						<p>Willkommen auf Wurzel.de hier kannst du die Personen, Orte, Tiere, ... der Bibel kennen lernen.</p>
					</div>
				</div>
				<br/>
				<div class="w3-card w3-white">
					<div class="w3-container w3-small">
						<div class="w3-row">
							<div class="w3-col m6">
								<h6>Anzahl der Bücher in den Sammlungen</h6>
								<canvas id="collectionChart"></canvas>
							</div>
							<div class="w3-col m6">
								<h6>Anzahl der Ausschnitte in den Büchern</h6>
								<canvas id="ausschnitteChart"></canvas>
							</div>
						</div>
						<div class="w3-row">
							<div class="w3-col m6">
								<h6>Häufigkeit der Nennung von Personen</h6>
								<canvas id="personChart"></canvas>
							</div>
							<div class="w3-col m6">
							</div>

						</div>

					</div>
				</div>

			</div>
		</div>	
		<template id="objectrow">
			<tr>
				<td><span style="height:16px; width: 16px; text-align:center; margin-right:8px;"><img src="/static/img/vi/3.svg" style="max-height:16px; max-width:16px; margin:auto;"></span></td>
				<td class="person">Personen</td>
				<td style="font-weight:bold;"></td>
			</tr>
		</template>
		<div class="w3-col m2">
			<div class="w3-card w3-white">
				<div class="w3-container w3-small">
					<h6>Anzahl von Objekten</h6>
					<table class="w3-table w3-margin-bottom" id="objecttable">
					</table>
	      		</div>
			</div>
			<br/>	
			<div class="w3-card w3-white">
				<div class="w3-container w3-small">
					<h6>Anzahl von Ausschnitten</h6>
					<table class="w3-table">
						<tr>
							<td><span style="height:16px; width: 16px; text-align:center; margin-right:8px;"><img src="/static/img/vi/36.svg" style="max-height:16px; max-width:16px; margin:auto;"></span></td>

							<td>Verknüpft</td>
							<td style="font-weight:bold;" id="connected"></td>
						</tr>
						<tr>
							<td><span style="height:16px; width: 16px; text-align:center; margin-right:8px;"><img src="/static/img/vi/36.svg" style="max-height:16px; max-width:16px; margin:auto;"></span></td>

							<td><a href="/bible/snippetng">Nicht verknüpft</a></td>
							<td style="font-weight:bold;" id="unconnected"></td>
						</tr>
					</table>
	      			</div>
			</div>

    		</div>
  	</div>
</div>
<script src="/static/dist/home.js"></script>
{{end}}
