{{ define "content" }}
<div class="row" id="createForm" >
	<div class="col-12">		
		{{ template "placeform" .}}
	</div>
</div>

<script type="text/javascript">
var startplace = {
	"PlaceID": {{.place.PlaceID}},
	"Name" : {{.place.Name}},
	"Description" : {{.place.Description}},
	"PlaceTypeID" : {{.place.PlaceTypeID}},
	"PlaceTypeName": {{.place.PlaceTypeName}},
	"VisuellidentifierID" : {{.place.VisuellidentifierID}},
	"Lat": {{.place.Lat}},
	"Lon": {{.place.Lon}}
}
</script>

<script src="/static/dist/placecreate.js"></script>
{{end}}
