{{ define "content" }}

<div class = "row" id="placeDetail">

	<div class="col">
		<div class="row my-3" id="detailView" v-cloak>
			<div class="col-12">
				<div class="row ">
					<div class="col-12 col-sm-10">
						<div class="media">
							<img class="d-flex mr-3" :src="'/static/img/vi/'+place.VisuellidentifierID+'.svg'" style="width:64px; max-height:64px" v-if="place.VisuellidentifierID">
							<div class="media-body">
								<h5 class="mt-0">${place.Name}</h5>
								${place.Description}<br/>
								Typ: ${place.PlaceTypeName}<br/>
								Position: ${place.Lat} , ${place.Lon} 
								<a class="btn btn-link btn-sm" :href="'https://maps.google.com?q='+place.Lat+','+place.Lon+'&t=k'" target="_blank">Map</a>
								<a class="btn btn-link btn-sm" :href="'https://www.google.com/maps/@?api=1&map_action=pano&viewpoint='+place.Lat+','+place.Lon" target="_blank">Beam</a>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-2 text-right">
						<button type="button" v-on:click="askdel" class="btn btn-secondary btn-sm btn-block">Löschen</button>
						<button type="button" v-on:click="toggle" class="btn btn-secondary btn-sm btn-block">Bearbeiten</button>
					</div>
				</div>
			</div>
		</div>

		<div class="row" v-if="formvisible">
			<div class="col-12">		
				{{ template "placeform" .}}
			</div>
		</div>
		<h2>Nennungen</h2>
		<div id="words" class="row">
			<word url="/api/place/word" deleteurl = "/api/place/word/delete" entityid="{{.place.PlaceID}}"></word>
		</div>
	</div>
</div>

<script type="text/javascript">
var startplace = {
	"PlaceID": {{.place.PlaceID}},
	"Name" : {{.place.Name}},
	"Description" : {{.place.Description}},
	"PlaceTypeID" : {{.place.PlaceTypeID}},
	"PlaceTypeName": {{.place.PlaceTypeName}},
	"VisuellidentifierID" : {{.place.VisuellidentifierID}},
	"Lat" : {{.place.Lat}},
	"Lon" : {{.place.Lon}}
}
</script>

<script src="/static/dist/placedetail.js"></script>
{{end}}
