{{ define "placeform" }}
<form class="p-2" style="background-color:#f7f7f7" @keyup.esc="cancel" @keyup.enter="save" v-on:submit.prevent="onSubmit">
	<div class="form-group">
		<label for="Name">Name</label>
		<input type="text" class="form-control" id="Name" aria-describedby="NameHelp" v-model="place.Name" ref="name">
		<small id="NameHelp" class="form-text text-muted">Der Name des Ortes. Er muss ein eindeutig sein.</small>
	</div>

	<div class="form-group">
		<label for="Description">Beschreibung</label>
		<textarea class="form-control" id="Description" rows="3" aria-describedby="DescriptionHelp" v-model="place.Description"></textarea>
		<small id="DescriptionHelp" class="form-text text-muted">Eine kurze Beschreibung des Ortes.</small>
	</div>

	<div class="form-group">
		<label>Ortstyp</label>
		<v-select v-model="placetype" label="Name" :options="placetypes" placeholder="Wähle den Ortstyp"></v-select> 
		<small class="form-text text-muted">Wähle den Ortstyp.</small>
	</div>

	<div class="form-group">
		<label for="Latitute">Latitute</label>
		<input class="form-control" id="Latitute" aria-describedby="LatituteHelp" v-model.number="place.Lat" type="number">
		<small id="LatituteHelp" class="form-text text-muted">Koordinatenteil Latitute des Ortes.</small>
	</div>

	<div class="form-group">
		<label for="Longitute">Longitute</label>
		<input class="form-control" id="Longitute" aria-describedby="LatituteHelp" v-model.number="place.Lon" type="number">
		<small id="LongituteHelp" class="form-text text-muted">Koordinatenteil Longitute des Ortes.</small>
	</div>

	<div class="text-right">
		<button type="button" id="Cancel" class="btn btn-warning btn-sm" v-on:click="cancel">Abbrechen</button>
		<button type="button" id="Save" class="btn btn-primary btn-sm" v-on:click="save">Speichern</button>
	</div>
</form>
{{end}}
